@import '~nouislider/dist/nouislider.css';

.timebar {
	display: flex;
	flex-direction: row;

	.dates {}

	.slidebar {
		width: 300px;
	}
}

.hier-stroke {
	stroke: steelblue;
	fill: none;
	pointer-events: none;
}

.hier-node {
	font-family: 'Helvetica';
	transition: font-weight .3s;
}

.hier-node:hover {
	font-weight: bolder;
}

.visualizations {
	display: flex;
	flex-direction: row;
}