@import '~nouislider/dist/nouislider.css';

body {
	margin: 0;
}

.view {
	display: flex;
	flex-direction: column;
}

.menubar {
	display: flex;
	position: fixed;
	flex-direction: row;
	width: 100vw;
	height: 50px;
	background: lightblue;

	.logo {
		line-height: 50px;
		margin-left: 20px;
		font-size: 30px;
	}

	.links {
		display: flex;
		flex-direction: row;
		margin: 5px 20px 5px auto;

		.link {
			height: 40px;
			line-height: 40px;
			padding: 0px 15px;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.visualize-container {
	display: flex;
	flex-direction: row;
	margin-top: 50px;
}

.drawer-container {
	display: flex;
	flex-direction: column;
	margin: 20px 20px 20px 0;
	height: calc(100vh - 90px);
	width: 250px;

	&.right {
		margin: 20px 0 20px 20px;
	}

	.drawer {
		background: lightcoral;
		flex-grow: 1;
		width: 100%;
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.visualization-container {
	flex: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.visualization-panel {
	width: 100%;

	&.half {
		width: 50%;
	}
}

.timebar {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 120px;
	align-items: center;
	background: lightcoral;

	.dates {
		padding: 16px 32px;
	}

	.buttons {
		padding: 16px 32px;
	}

	.slidebar {
		flex-grow: 1;
	}
}

.hier-stroke {
	stroke: steelblue;
	fill: none;
	pointer-events: none;

	&.highlightedOut {
		stroke: red;
		z-index: 100;
	}
	&.highlightedIn {
		stroke: green;
		z-index: 100;
	}
	&.white {
		stroke: white;
		opacity: 0;
	}
}

.hier-node {
	font-family: 'Helvetica';
	transition: font-weight .3s;

	&.selected {
		fill: black;
		font-weight: bolder;
	}

	&.target {
		fill: red;
		font-weight: bolder;
	}

	&.source {
		fill: green;
		font-weight: bolder;
	}

	&.both {
		fill: blue;
		font-weight: bolder;
	}
}

.hier-node:hover {
	font-weight: bolder;
}

.node:hover {
	fill: white;
}

.visualizations {
	display: flex;
	flex-direction: row;
}