@import '~nouislider/dist/nouislider.css';
//@import './menu-bar';
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

$menubar-height: 120px;
$back-col: #d3d6db;
$menu-back-col:#24252a;
$text-col: white;
$container-col: #393e46;
$f-family: "Montserrat", sans-serif;
$margin-container: 0px;
$main-color:rgb(0, 136, 169);
$border-radius: 8px;

body {
	margin: 0;
}

.view {
	display: flex;
	flex-direction: column;
}

.menubar {
	display: flex;
	position: fixed;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100vw;
	height: $menubar-height;
	background-color: $menu-back-col;
	z-index: 100;

	.logo {
		order:1;
		color:#fff;
		text-transform: capitalize;
		line-height: 50px;
		margin-left: 10px;
		font-size: 3.0em;
		max-width: 100%;
		padding: 20px;
		font-weight: 400;
		font-family: $f-family;
	}

	.links {
		order:2;
		display: flex;
		flex-direction: row;
		margin: 5px 20px 5px auto;
		max-width: 100%;
		padding: 40px;
		font-weight: 500;
		list-style-type: none;

		.link {
			height: 40px;
			line-height: 40px;
			padding: 0px 15px;
			cursor: pointer;
			font-family: $f-family;
			font-weight: 500;
			font-size: 1.5em;
			color: #edf0f1;
			text-decoration: none;	
			transition: all 0.3s ease 0s;

			&:hover {
				color: $main-color;
				cursor: pointer;
				transition: all 0.3s ease 0s;
			}
		}
	}
}

.visualize-container {
	display: flex;
	flex-direction: row;
	margin-top: $menubar-height + 3px;
	margin-left: $margin-container;
	margin-right: $margin-container;
	margin-bottom: $margin-container;
	background: $back-col;	
	font-family: $f-family;
	overflow: hidden;
}

.drawer-container {
	display: flex;
	flex-direction: column;
	margin: 20px 20px 20px 0;
	height: calc(100vh - 123px - 60px);
	width: 250px;
	color: white;
	padding: 10px 10px 10px 0;
	align-items: center;
	justify-content: center;
	transition: .5s margin-left, .5s margin-right;

	.drawer {
		display: flex;
		flex-direction: column;
		background: $container-col;
		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
		font-family: $f-family;
		overflow: hidden;
		flex-grow: 1;
		width: 100%;

		margin-bottom: 10px;
		border-top-right-radius: $border-radius;
		border-bottom-right-radius: $border-radius;

		&:last-child {
			margin-bottom: $margin-container;
		}

		.top {
			display: flex;
			flex-direction: row;
			padding: 10px 10px 0 10px;
			justify-content: space-between;

			.title {
				line-height: 20px;
			}

			.button {
				height: 20px;
				width: 20px;
				transform: rotate(0deg);
				cursor: pointer;
				transition: .5s transform;

				svg {
					fill: white;
					transition: .3s fill;
				}

				&.open {
					transform: rotate(180deg);
				}

				&:hover svg {
					fill: darken($text-col, 20%);
				}
			}
		}

		.content {
			padding: 10px;
			overflow-y: auto;
		}

		&.right {
			.top {
				justify-content: initial;
				padding: 10px 10px 0 10px;

				.title {
					margin-left: 10px;
				}

				.button {
					transform: rotate(180deg);
	
					&.open {
						transform: rotate(0deg);
					}
				}
			}
		}
	}

	&.closed {
		margin-left: -210px;
	}

	&.right {
		margin: 20px 0 20px 20px;
		padding: 10px 0 10px 10px;

		.drawer {
			border-top-left-radius: $border-radius;
			border-bottom-left-radius: $border-radius;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		&.closed {
			margin-right: -210px;
		}
	}
}

.tooltip {
	padding: 4px 8px;
	background: black;
	position: fixed;
	border-radius: 4px;
	color: white;
	font-size: 13px;
	max-width: 300px;
	text-align: center;
	display: none;
}

.option-panel {
	display: flex;
	flex-direction: column;
	margin-bottom: 8px;
	
	.header {
		display: flex;
		flex-direction: row;
		margin-bottom: 4px;

		.title {
			text-transform: uppercase;
			font-size: 10px;
			line-height: 14px;
			height: 14px;
		}

		.line {
			flex-grow: 1;
			border-bottom: 1px solid white;
			height: 0px;
			align-self: center;
			margin: 0px 8px;
		}

		.close {
			height: 14px;
			margin-right: 4px;
			cursor: pointer;

			svg {
				fill: $text-col;
				transform: rotate(90deg);
				transition: .3s transform;
			}
		}
	}

	.option-content {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		max-height: 800px;
		transition: .3s max-height;

		.option-item {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 2px;

			.key {
				font-size: 12px;
				flex-shrink: 1;
				margin-right: 8px;
			}

			.value {
				input {
					width: 120px;
				}
			}
		}
	}

	&:last-child {
		margin-bottom: 0;
	}

	&.closed {
		.header .close {
			svg {
				transform: rotate(180deg);
			}
		}

		.option-content {
			max-height: 0;
		}
	}
}

.statistics {
	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.title {
			line-height: 22px;
		}
	}

	.content2 {
		.highlight {
			font-style: italic;
		}
	}
}

.datafile {
	display: flex;
	flex-direction: column;
	overflow-y: hidden;

	.datafile-item {
		display: flex;
		flex-direction: row;
		padding: 8px;
		border: 1px solid $back-col;
		justify-content: space-between;
		border-radius: 8px;
		margin-top: 6px;
		margin-bottom: 4px;

		.datafile-button {
			color: darken($text-col, 30%);
			transition: .3s color;
			cursor: pointer;

			&:hover {
				color: $text-col;
			}
		}
		
	}
}

.filter {
	display: flex;
	flex-direction: column;

	.filter-top {
		display: flex;
		flex-direction: row;

		select {
			flex-grow: 1;
			margin-right: 8px;
		}
	}

	.filter-item {
		display: flex;
		flex-direction: column;
		padding: 8px;
		border: 1px solid $back-col;
		border-radius: 8px;
		margin-top: 6px;

		.filter-item-top {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: 4px;

			.filter-item-button {
				color: darken($text-col, 30%);
				transition: .3s color;
				cursor: pointer;

				&:hover {
					color: $text-col;
				}
			}
		}

		select {
			width: 100%;
		}
	}
}

.visualization-container {
	flex: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: $f-family;
	align-content: flex-start;
	overflow-y: auto;
	overflow-x: hidden;
	height: calc(100vh - 123px - 60px);
	margin-top: 30px;
}

.visualization-panel {
	font-family: $f-family;
	background: $back-col;
	border-radius: $border-radius;
	border: 1px solid $menu-back-col;
	flex-grow: 1;
	padding: 10px;
	color: $menu-back-col;
	margin-bottom: 20px;

	.title {
		color: $menu-back-col;
	}

	.content {
		margin-top: 10px;
	}

	&.half {
		flex-grow: 2;

		&:first-child {
			margin-right: 20px;
		}
	}
}

.timebar {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 120px;
	align-items: center;
	background: $container-col;
	margin-bottom: 20px;
	color: $text-col;
	border-radius: $border-radius;

	.noUi-connect {
		background: $main-color;
	}

	svg {
		fill: $text-col;
		transition: .3s fill;
		cursor: pointer;

		&:hover {
			fill: darken($text-col, 20%);
		}
	}

	.dates {
		padding: 16px 32px;

		.row {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.text {
				text-transform: capitalize;
				margin-right: 10px;
			}
		}
	}

	.buttons {
		padding: 16px 32px;
	}

	.slidebar {
		flex-grow: 1;
	}
}

.hier-stroke {
	fill: none;
	pointer-events: none;
	z-index: 100;
}

.hier-node {
	font-family: $f-family;
	transition: font-weight .3s;

	&.selected {
		fill: black;
		font-weight: bolder;
		text-decoration: underline;
		cursor: pointer;
	}

	&.target {
		fill: rgb(153, 32, 32);
		font-weight: bolder;
	}

	&.source {
		fill: rgb(22, 136, 22);
		font-weight: bolder;
	}

	&.both {
		fill: rgba(218, 126, 7, 0.835);
		font-weight: bolder;
	}

}

.hier-node:hover {
	font-weight: bolder;
	cursor: pointer;
}

.hier-arc-text {
	font-family: Helvetica;
	font-weight: bold;
	fill: white;
}
.svg-container {
	display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}

.svg-content {
	display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.massive-sequence-container {
	position: relative;
	width: 100%;

	.indicator {
		position: absolute;
		top: 0;
		left: 100px;
		height: 100%;
		display: flex;
		flex-direction: row;
		pointer-events: none;

		&.inactive {
			display: none;
		}

		.line {
			height: calc(100% - 4px);
			width: 1px;
			background: black;
		}

		.date {
			font-size: 9px;
			white-space: nowrap;
			overflow: hidden;
			position: absolute;
			width: 40px;
			height: 10px;
			transform: rotate(90deg);
			bottom: 19px;
			left: -12px;
		}
	}
}

.node:hover {
	stroke-width: 2px;
	stroke: rgb(49, 49, 49)
}

.node {
	stroke-width: 1px;
	stroke: rgb(49, 49, 49)
}

.visualizations {
	display: flex;
	flex-direction: row;
}

.hide, .hidden {
	display: none;
}

rect.selection {
    stroke          : rgb(132, 160, 255);
	stroke-width: 3px;
    stroke-dasharray: 4px;
    stroke-opacity  : 0.8;
    fill            : transparent;
}
#custom-button {
	padding: 10px;
	font-family: $f-family;
	color: white;
	background-color: $main-color;
	border: 1px solid #000;
	border-radius: 5px;
	cursor: pointer;
	transition: .3s background-color;
  }
  
#custom-button:hover {
	background-color: darken($main-color, 5%);
}
  
#custom-text {
	margin-left: 10px;
	font-family: $f-family;
	color: #aaa;
}

.index-container {
	margin-top: $menubar-height;
	background: $back-col;
	padding-left: 20%;
	padding-right: 20%;

	.intro-text {
		font-size: 15px;
		font-family: "Montserrat", sans-serif;
		color: $menu-back-col;
	}
	
	.mini-titles {
		font-size: 15px;
		font-family: "Montserrat", sans-serif;
		color: rgba(0, 136, 169, 0.8);
		position: relative;
		font-weight: bold;	
		margin-top: 20px;
		text-align: center;
		margin-top: 50px;
	}
	
	.container {
		display: inline-block;
	}

	.vis-item {
		display: flex;
		flex-direction: column;
		margin-bottom: 60px;

		.vis-title {
			font-size: 20px;
			font-family: "Montserrat", sans-serif;
			color: rgba(0, 136, 169, 0.8);
			text-decoration: underline;
			position: relative;
			font-weight: bold;
			margin-bottom: 5px;

			&.right {
				text-align: right;
			}
		}

		.vis-content {
			display: flex;
			flex-direction: row;
			align-items: center;

			img {
				flex-basis: 30%;
			}

			.intro-text {
				flex-basis: 70%;
			}

			&.double {
				flex-direction: column;

				img {
					width: 100% !important;
				}
			}
		}
	}
	
	.our-team{
		background: #d3d6db;
		border-radius: 15px 15px 15px 15px;
		text-align: center;
		overflow: hidden;
		position: relative;
		margin-top: 15px;
		margin-right: 10px;
		padding: 30px 70px;
	}
	.our-team .pic{
		display: inline-block;
		width: 130px;
		height: 130px;
		margin-bottom: 0px;
		z-index: 1;
		position: relative;
	}
	
	.our-team .pic::before{
		content: "";
		width: 100%;
		height: 0;
		border-radius: 50%;
		background-color: rgba(0, 136, 169, 0.8);
		position: absolute;
		bottom: 135%;
		right: 0;
		left: 0;
		opacity: 0.2;
		transform: scale(3);
		transition: all 0.3s linear 0s;
		z-index: -1;
	}
	
	.our-team .pic img{
		width: 100%;
		height: auto;
		border-radius: 50%;
		transform: scale(1);
		transition: all 0.9s ease 0s;
	}
	
	.our-team:hover .pic::before{
		height:100%;
	}
	
	.our-team .pic:after{
		content: "";
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background: #24252a;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
	
	.our-team:hover .pic img{
		box-shadow: 0 0 0 14px #d3d6db;
		transform: scale(0.7);
	}
	
	.our-team .team-content{
		margin-bottom: 30px;
	}
	
	.our-team .title {
		font-size: 22px;
		font-weight: 700;
		color: rgba(0, 136, 169, 0.8);
		letter-spacing: 1px;
		margin-bottom: 5px;
	}
	.our-team .post{
		display: block;
		font-size: 10px;
		color: #24252a;
	}
	.our-team .email{
		width: 100%;
		padding: auto;
		margin: 0;
		position: absolute;
		bottom: -20px;
		left: 0;
		transition: all 0.5s ease 0s;
	}
	.our-team:hover .email{
		bottom: 5px;
	}
	
	.team-table{
		width:100%;
		margin-right: 5%;
		margin-left: 5%;
		margin-top: 20px;
		border-style: solid;
		border-color: aqua;
	}
	
	.vis-titles{
		font-size: 17px;
		font-family: "Montserrat", sans-serif;
		color:  rgba(0, 136, 169, 0.8);
		text-decoration: underline;
		position: relative;
		margin-left: 7%;
		font-weight: bold;	
		margin-top: 20px;
	}
	
	.vis-images{
		border-radius: 5px;
		max-width: 15%;
		height: auto;
		
	}
	
	.img {	
		text-align: left;
		height: auto;
		border-radius: 10px;
		width: 250px;
		height: auto;
		float: right;
		justify-content: right;
	}

	iframe {
		margin-bottom: 100px;
	}
	  
	
	#more {display: none;}
	
	@media(max-width: 90%){
		.container{
			flex-direction: column;
		}
		.our-team{
			width: 90%;
			margin-top: 30px;
		}
	}
}